<nav id="navbar">
    <div class="content">
      <div class="ionic">
        <div class="circular" [class.tade]="iconStatus" (click)="iconClick()">
            <i class="fa fa-anchor"></i>
        </div>
      </div>
      <div class="nav">
        <ul>
          <li (click)="go('/main/home')">
            <i class="fa fa-home"></i>
            <a>Home</a>
          </li>
          <li (click)="go('/main/about')">
            <i class="fa fa-user"></i>
            <a>About</a>
          </li>
          <li>
            <i class="fa fa-photo"></i>
            <a>Portfolio</a>
          </li>
          <li>
            <i class="fa fa-tags"></i>
            <a>Tags</a>
          </li>
        </ul>
      </div>
      <div class="menu">
        <nz-dropdown [nzTrigger]="'click'" [nzPlacement]="'bottomRight'">
          <a nz-dropdown> 
            <span></span>
            <span></span>
            <span></span>
            <span></span>
          </a>
          <ul nz-menu>
            <li nz-menu-item (click)="go('/main/home')">Home</li>
            <li nz-menu-item (click)="go('/main/about')">About</li>
            <li nz-menu-item>Portfolio</li>
            <li nz-menu-item>Tags</li>
          </ul>
        </nz-dropdown>
      </div>
    </div>
  </nav>
  <header id="header">
    <img class="img" src="../../../assets/imgs/img.jpg" alt="Craft">
    <div class="content">
      <div class="text text-down">
        <h2 class="zw-font-01">One small step every day,</h2>
        <h2 class="zw-font-01">one big step in life.</h2>
      </div>
    </div>
    <div class="whalebox" [class.whale]="iconStatus"></div>
  </header>
  <div id="content">
    <div nz-row>
      <div class="left-box" nz-col [nzXl]="{ span: 16, offset: 2 }"  [nzSm]="{ span: 24, offset: 0 }">
        <router-outlet></router-outlet>
      </div>
      <div class="rihgt-box" nz-col [nzXl]="{ span: 4 }" [nzSm]="{ span: 24 }">
        <div>
          <hr class="first-hr">
          <div class="tags-title zw-cursor-d">
            FEATURED TAGS
          </div>
          <div class="tags">
            <a>闲谈</a>
            <a>css3</a>
            <a>ES6</a>
            <a>学习总结</a>
            <a>其他</a>
          </div>
          <hr>
          <div class="tags-title zw-cursor-d">
            ABOUT ME
          </div>
          <div class="tags">
            <div class="img" [class.tade]="iconStatus" (click)="iconClick()"></div>
            <p class="introduce zw-cursor-d">善于学习，思维敏捷，勤奋上进，不拘小节，人见人爱，花见花开，呵呵</p>
          </div>
          <hr>
          <div class="tags-title zw-cursor-d">
            Hobby
          </div>
          <div class="tags">
            <p class="introduce zw-cursor-d">读书，下棋，电影，美食</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer id="footer">
    <a>Copyright © andy Blog 2018</a>
  </footer>
  
  <!-- <div style="height:200px;width:300px;overflow-y:auto;border:1px solid red" appScroller>
    <div style="height:2000px;width:300px;">
        <h1>dd</h1>
        <h1>dd</h1>
        <h1>ddd</h1>
        <h1>dd</h1>
        <h1>dd</h1>
        <h1>dd</h1>
        <h1>dd</h1>
        <h1>dd</h1>
        <h1>ddd</h1>
        <h1>dd</h1>
        <h1>dd</h1>
        <h1>dd</h1>
        <h1>ddd</h1>
    </div>
  </div> -->
  